.searchBar {
    height: 38px;
    width: 75%;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: #e6e6e6;
}

::placeholder {
    font-style: italic;
    padding: 5px;
}

.taskRow {
    font-size: 16px;
    font-weight: 500;
}

.taskRow:hover {
    cursor:grab;
}

.addTaskContainer {
    width: 100%;
    height: 100%;
}

.addTaskBtn {
    float: right;
    width: 20%;
}

.marginBottom {
    margin-bottom: 10px;
}

.center {
    align-items: center;
    display:flex
}

.marginRight {
    margin-right: 8px;
}